
/***********************/
/*  My custom styles   */
/***********************/

table.black-table-centered { 
   align:"center";
   border-color:"black";
   cell-spacing:"2";
   border-width:"2";
   rules:"rows";
}
