
/***********************/
/*  My custom styles   */
/***********************/

.black-table-centered { 
   align:"center";
   bordercolor:"black";
   cellspacing:"2";
   border:"2";
   rules:"rows";
}
